{% extends 'layout.html'%}{%block title %} KWPLH {% endblock %}{%block content %}
<!-- About Start -->
<div class="container-fluid py-3">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-6" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="{{ url_for('static', filename='img/picture Kutai Barat/CIA Wisata/CIA Wisata 1.jpg') }}" style="object-fit: cover;">
                </div>
                
            </div>
            <div class="col-lg-6 pt-5 pb-lg-5">
                <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
                    <h1 class="text-primary text-uppercase" style="letter-spacing: 3px;">About Us</h1>
                    <h6 class="mb-3"><p>
                        Merupakan tempat wisata alam terbuka yang dimana pengunjung dapat menggunakan AVP. Kendaraan tersebut membantu para pengunjung agar bisa mengelilingi sekitar tempat wisata layaknya berkelana di hamparan hutan yang luas. Cukup menguji kemampuan berkendara di alam terbuka pastinya. Menantang dan menarik sekali, terutams untuk Anda para penggemar wisata alam yang terbuka.                   
                    </p>
                    <div class="row mb-4">
                        <div class="col-6">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.803333131613!2d115.5805787136773!3d-0.1570440998854157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2df81c90e141b903%3A0x5c1bdda9c78848c8!2sCIA%20Wisata!5e0!3m2!1sen!2sid!4v1670476174346!5m2!1sen!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                        
                        </div>
                    </div>
                    <a href="{{url_for ('destination')}}" class="left "><-Kembali</a>
                    <a href="{{url_for ('contact')}}" class="right">Informasi-></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
{% endblock %}