{% extends 'layout.html'%}

{%block title %} Contact {% endblock %}

{%block content %}
<div class="chatbot-body">
  <div class="msger">
    <header class="msger-header">
      <div class="msger-header-title">
        <h1>PUSAT BANTUAN DAN INFORMASI</h1>
      </div>
    </header>

    <main class="msger-chat">
      <div class="msg left-msg">
        <div class="msg-img"></div>
        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name">WonderBot</div>
            <div class="now">Sekarang</div>
          </div>

          <div class="msg-text">
            Halo, dengan WonderBot disini. Ada yang bisa dibantu?
          </div>
        </div>
      </div>
    </main>

    <form class="msger-inputarea">
      <input type="text" class="msger-input" id="textInput" placeholder="Masukkan pesanmu disini..." />
      <button type="submit" class="msger-send-btn">Kirim</button>
    </form>
  </div>
</div>
<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 py-5 px-sm-3 px-lg-5" style="margin-top: 150px;">
  <div class="row pt-5">
      <div class="col-lg-3 col-md-6 mb-5">
          <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;"><a href="{{url_for ('home')}}"><img src="{{ url_for('static', filename='img/footer1.png' ) }}"></a></h5>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
          <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;"><a href="{{url_for ('home')}}"><img src="{{ url_for('static', filename='img/KampusMerdeka1.png' ) }}"></a></h5>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
          <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;"><a href="{{url_for ('home')}}"><img src="{{ url_for('static', filename='img/footer1.png' ) }}"></a></h5></h5>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
          <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;"><a href="{{url_for ('home')}}"><img src="{{ url_for('static', filename='img/KampusMerdeka1.png' ) }}"></a></h5>
      </div>
  </div>
</div>
<div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: rgba(256, 256, 256, .1) !important;">
  <div class="row">
      <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
          <p class="m-0 text-white-50">Copyright &copy; <a href="{{url_for ('home')}}">TRAVELER</a>. All Rights Reserved.</a>
          </p>
      </div>
      <div class="col-lg-6 text-center text-md-right">
          <p class="m-0 text-white-50">Designed by <a href="{{url_for ('home')}}">Local Pride</a>
          </p>
      </div>
  </div>
</div>
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>
{% endblock %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
  integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/all.js') }}"></script>
<script>
  const msgerForm = get(".msger-inputarea");
  const msgerInput = get(".msger-input");
  const msgerChat = get(".msger-chat");

  // Icons made by Freepik from www.flaticon.com
  const BOT_IMG = "/static/img/Bot.png";
  const PERSON_IMG = "/static/img/user.png";
  const BOT_NAME = "WonderBot";
  const PERSON_NAME = "Kamu";

  msgerForm.addEventListener("submit", (event) => {
    event.preventDefault();

    const msgText = msgerInput.value;
    if (!msgText) return;

    appendMessage(PERSON_NAME, PERSON_IMG, "right", msgText);
    msgerInput.value = "";
    botResponse(msgText);
  });

  function appendMessage(name, img, side, text) {
    //   Simple solution for small apps
    const msgHTML = `
        <div class="msg ${side}-msg">
          <div class="msg-img" style="background-image: url(${img})"></div>

          <div class="msg-bubble">
            <div class="msg-info">
              <div class="msg-info-name">${name}</div>
              <div class="msg-info-time">${formatDate(new Date())}</div>
            </div>

            <div class="msg-text">${text}</div>
          </div>
        </div>
        `;

    msgerChat.insertAdjacentHTML("beforeend", msgHTML);
    msgerChat.scrollTop += 500;
  }

  function botResponse(rawText) {
    // Bot Response
    $.get("/get", { msg: rawText }).done(function (data) {
      console.log(rawText);
      console.log(data);
      const msgText = data;
      appendMessage(BOT_NAME, BOT_IMG, "left", msgText);
    });
  }

  // Utils
  function get(selector, root = document) {
    return root.querySelector(selector);
  }

  function formatDate(date) {
    const h = "0" + date.getHours();
    const m = "0" + date.getMinutes();

    return `${h.slice(-2)}:${m.slice(-2)}`;
  }
</script>
{% endblock %}