{% extends 'layout.html'%}

{%block title %} Home {% endblock %}

{%block content %}
<div class="container-fluid p-0">
    <div id="header-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="{{ url_for('static', filename='img/wisata Kaltim.png') }}" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h4 class="text-white text-uppercase mb-md-3">TRAVELER</h4>
                        <h1 class="display-3 text-white mb-md-4">Let's Explore Area Tours</h1>
                        <a href="{{url_for ('destination')}}" class="btn btn-primary py-md-3 px-md-5 mt-2">Let's Tours</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid py-3">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-6" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="{{ url_for('static', filename='img/about.jpg') }}" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 pt-5 pb-lg-5">
                <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
                    <h1 class="text-primary text-uppercase" style="letter-spacing: 5px;">About Us</h1>
                    <h6 class="mb-3"><p>
                        Sebuah aplikasi pendampingan wisata berbasis AI untuk pemantauan dan pemanduan wisatawan selama berjelajah di aplikasi yang kami buat.
                        Aplikasi ini dibuat oleh kelompok local pride dari kelas Al-Jazari di Orbit Future Academy.
                    </p>
                    <div class="row mb-4">
                        <div class="col-6">
                            <img class="img-fluid" src="{{ url_for('static', filename='img/wisata Kaltim.png') }}">
                        </div>
                        <div class="col-6">
                            <img class="img-fluid" src="{{ url_for('static', filename='img/Wisata1.png') }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 py-5 px-sm-3 px-lg-5" style="margin-top: 150px;">
    <div class="row pt-5">
        <div class="col-3">
            <img class="img-fluid" src="{{ url_for('static', filename='img/footer1.png' ) }}">
        </div>
        <div class="col-3">
            <img class="img-fluid" src="{{ url_for('static', filename='img/KampusMerdeka1.png' ) }}">
        </div>
        <div class="col-3">
            <img class="img-fluid" src="{{ url_for('static', filename='img/footer1.png' ) }}">
        </div>
        <div class="col-3">
            <img class="img-fluid" src="{{ url_for('static', filename='img/KampusMerdeka1.png' ) }}">
        </div>
    </div>
</div>
<div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: rgba(256, 256, 256, .1) !important;">
    <div class="row">
        <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
            <p class="m-0 text-white-50">Copyright &copy; <a href="{{url_for ('home')}}">TRAVELER</a>. All Rights Reserved.</a>
            </p>
        </div>
        <div class="col-lg-6 text-center text-md-right">
            <p class="m-0 text-white-50">Designed by <a href="{{url_for ('home')}}">Local Pride</a>
            </p>
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>
 {% endblock %}
