{% extends 'layout.html'%}{%block title %} KWPLH {% endblock %}{%block content %}
<!-- About Start -->
<div class="container-fluid py-3">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-6" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="{{ url_for('static', filename='img/Picture Sangatta/Wisata Alam Prevab TNKutai/Prevab TNKutai.png') }}" style="object-fit: cover;">
                </div>
                
            </div>
            <div class="col-lg-6 pt-5 pb-lg-5">
                <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
                    <h1 class="text-primary text-uppercase" style="letter-spacing: 3px;">About Us</h1>
                    <h6 class="mb-3"><p>
                        Objek wisata yang lokasinya cukup tersembunyi ini merupakan habitat orangutan sub spesies morio (Pongo pygmaeusmorio) yang hanya dijumpai di Kalimantan bagian timur. Orangutan morio memiliki bulu berwarna coklat kehitaman dengan rahang paling besar dan otak paling kecil. Orangutan ini mampu bertahan pada kondisi yang ekstrem, seperti kemarau yang panjang, pakan yang terbatas dan pergerakan yang kurang. Keberadaan orangutan liar di habitat aslinya ini telah menarik minat banyak wisatawan untuk mengunjungi kawasan ini, khususnya wisatawan mancanegara.
                    </p>
                    <div class="row mb-4">
                        <div class="col-6">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.646655272696!2d117.46314221367737!3d0.5315003996122513!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x320bcc884b46a9c3%3A0xe630aa142ab6435c!2sWisata%20Alam%20Prevab%20TNKutai!5e0!3m2!1sen!2sid!4v1670412513396!5m2!1sen!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                    <a href="{{url_for ('destination')}}" class="left "><-Kembali</a>
                    <a href="{{url_for ('contact')}}" class="right">Informasi-></a>
                </div>
            </div>
        </div>
        
    </div>
</div>
<!-- About End -->
{% endblock %}